common:
  deploy:
    image:
      repository: nginx
      tag: "1.21"
    replicas: 1
  service:
    type: ClusterIP
    ports:
      http: 80
  ingress:
    enabled: true
    className: nginx
    hosts:
      - host: test.local
        paths:
          - path: /
            pathType: Prefix
            port: http